div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task,
div:not(.CodeMirror-activeline) > pre:not(.HyperMD-table-row) span.cm-formatting-link,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-code,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-strikethrough,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-strong,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-em,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-highlight,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-header,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-quote,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link-string,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link-string ~ span.cm-url {
    display: none !important;
    position: relative;
}

.external-link::before {
    display: none !important;
}

.cm-hmd-indent-in-quote {
    padding-left: 0.8em;
}

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-code-block,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hr {
    font-size: 0%;
}

span.cm-hr:before {
    content: "";
    display: block;
    background: var(--text-faint);
    height: 1px;
    opacity: 30%;
}

.collapse-indicator,
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    visibility: hidden;
}

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-1::before,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-2::before,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-3::before {
    content: "●";
    color: var(--text-faint) !important;
}

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-1::before,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-2::before,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-3::before {
    content: "○";
    color: var(--text-muted) !important;
}

div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-1::before,
div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-2::before,
div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-property + .cm-list-3::before,
div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-1::before,
div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-2::before,
div.CodeMirror-activeline > .CodeMirror-line span.cm-formatting-task.cm-meta + .cm-list-3::before {
    content: "";
}

.view-header-title-container:after,
.view-action[aria-label^="Preview"],
.view-action[aria-label^="Close"],
.view-action[aria-label^="More options"] {
    display: none;
}